html {
  background: #660000;
  background-image: url("http://images.alphacoders.com/159/159431.jpg");
}

canvas {
  margin: 32px auto;
}

h2 {
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 36px;
}